*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(0.25turn,rgb(81, 81, 93),white);
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10rem;
    gap: 2rem;
}
#ari,#gori{
    color:brown;
}
#box img{
    border-radius: 50%;
    animation: love 0.5s ease infinite reverse;
}
@keyframes love {
    from{
        transform: scale(85%);
    }
    to{
        transform: scale(100%);
    }
}

@media screen and (max-width:600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    #ari,#gori{
        color: crimson;
    }
}