.item-center{
    text-align: center;
    color:red;
    background: linear-gradient(0.25turn,green,yellow);
    z-index: 100;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.mx-auto{
    margin: auto;
}
.bg-color{
    background-color: yellow;
}
.clear{
    background-color: red;
    color: #ffff;
}